/* INDEX */
div.awal h2 {
    
    padding-bottom: 0px;
    padding-left: 50px; 
    padding-right: 50px;
}
 
div.awal {
    background-color: rgba(211, 211, 244, 0.81);
}
div.awal p {
    padding-left: 80px; 
    padding-right: 80px;
   
}
/* ABOUT */

div.container.my-5{

    background-color: rgb(225, 240, 248);
}
div.container.my-5 img{
    margin: 10px 10px 10px 10px;
    
}
div.container.my-5 h1{
    text-align:center; 
    background-color: rgb(76, 159, 232);
    border-radius: 20px;
}

div.container.my-5 h2{
    text-align:center; 
    background-color: rgb(134, 183, 226);
    border-radius: 20px;
}

/* PRODUCT */
.pemesanan.my-4{
    background-color: rgb(225, 240, 248);
    padding-left: 100px; 
    padding-right: 100px;
    padding-bottom: 20px;
}

button:hover {
    background-color: #092f65;
  }

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #d1d1d1;
    padding: 10px;
  }

/*   
TRANSAKSI */
.div.class.container {
    background-color: rgb(153, 109, 51);
}
.footer {
   position: fixed;
   bottom: 0;
   width: 100%;
   background-color: #d1d1d1;
   padding: 10px;
 }

.table {
    background-color: rgb(226, 244, 247);
    
}

.table th {
    background-color: rgb(74, 122, 150);
}

/* HEADER */
header div.container{
    color: rgb(4, 8, 58);
}
/* FOOTER */
footer div.container {
    width: 25%;
    padding: 10px 10px 5px 5px;
    background-color: rgb(72, 97, 120);
    color: rgb(20, 16, 65);
    border-radius: 16px;
}